@import url("global.css");
.info{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centraliza o texto */
    height: 100vh;
  

}
h2{
    text-align: center;
    color: var(--rosa);
    font-size: 5vh;
    font-weight: bold;
}
.banner{
    height: 50vh;
    position: absolute;
   justify-content:center;
   
}
.galeria {
	background-position: center;
	background-size: cover;
	display: inline-block;
	height: 200px;
}
.skills-img{
	width: 23.9%;
	margin-left: .5%;
	margin-right: .5%;
}
#img1 {
    
	background-image: url('../images/html.png');
	margin-left: 0;
}

#img2 {
    background-image: url('../images/css.png');
}

#img3 {
  
    background-image: url('../images/js.png');
}

#img4 {
	background-image: url('../images/react.png');
    margin-right:0;
}

.portifolio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards {
    display: flex;
    padding: 32px;
}

.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

.cards section.card:first-child {
    margin-left: 0;
}

.cards section.card .imagem-card {
    width: 150px;
    height: 150px;
}

.cards section.card img {
    width: 100%;
}

.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}


.card button {
    background: linear-gradient(to right, #FE5F8F, #FFC7D9);
}


.card {
    box-shadow: 20px 20px 50px -30px #FFC1D5;
}

.contato{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contato h4{
    margin-bottom:0;
 }
 .contato a{
    text-decoration:none;
    margin-bottom: 5vh;
 }
 .contato a:hover{
    color: var(--rosa);
 }
.contato-botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contato-botoes button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}


.contato-botoes button {
    background: linear-gradient(to right, #FE5F8F, #FFC7D9);
    margin-bottom: 20px;
}
footer{
    text-align: center;
    background-color: var(--azul);
    color: var(--rosa);
    padding: 2vh;
}
/* Media query para ajustar estilos em telas menores */
@media screen and (max-width: 768px) {
    #img1 {
    
        margin-left: auto;
    }
    #img4 {
    
        margin-right: auto;
    }
    .info {
        height: 50vh;
    }

    .banner {
        height: 23vh; /* Reduz a altura do banner em telas menores */
    }

    .skills-img {
        width: 60%;
        max-width: none;
        margin: 0 auto 10px;
        display: flex;
        justify-content: center;
         /* Ajusta o espaçamento entre as imagens em telas menores */
    }
    h2{
        text-align: center;
        color: var(--rosa);
        font-size: 3vh;
        font-weight: bold;
    }
    .cards {
        flex-direction: column;
    }

    .cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    .cards section.card:last-child {
        margin-bottom: 0;
    }

    .cards section.card button {
        font-size: 70%;
    }

}